*{
    margin: 0;
    padding: 0;
}
body{
  background-color:rgb(234, 236, 80);
}
html{
  padding: 0;
  margin: 0;
}
.navbar{
  background-color: rgb(112, 110, 110) !important;
  padding: 0.3rem 1rem !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.container-fluid{
  box-shadow: 0px 0px 50px black !important;
  border-radius: 10px;
  background-color: rgb(49, 47, 51);
}
.container-fluid a{
  color:rgb(75, 213, 223) !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar-nav{
  margin-left: 67%;
  width: 35%;
}
.carousel-item img{
  height: 350px; 
  filter: brightness(70%);
  width: 100%;
}
.navbar-brand{
  font-size: 22px;
}
.collapse ul li{
  /* margin: 0% 5%; */
  margin-right: auto;
  margin-left: auto;
  font-size: 17px;
}
.nav-item a:hover{
  background-color: rgb(28, 14, 94);
  border-radius: 8px;
  opacity: 0.5;
  color: white !important;
  font-weight: bold;
}
#carouselExampleSlidesOnly{
  width: 87% !important;
  box-shadow: 0 0 10px white;
  border: solid 1px rgb(253, 250, 250);
}
.sliderdiv{
  margin-top: 3.9%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 480px; */
  height: 448px;
  background-color: rgb(21, 14, 39);
}

/* .typing{
  display: flex;
  width: 100%;
  height: 164px;
  justify-content: center;
  background-color: rgb(14, 39, 27);
} */

.carousel-caption h1{
  font-size: 50px;
  color: greenyellow;
  /* background-color: black; */
  opacity: 0.5;
  font-weight: bold;
  letter-spacing: 10px;
}

.carousel-caption.second{
  bottom: 90px !important;
}

.third{
  color: white !important;
  opacity: 0.3 !important;
}
.forth{
  color: rgb(183, 183, 233) !important;
  opacity: 0.7 !important;
}

.carousel-caption{
  bottom: 30px;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.carousel-caption p{
  color: yellow;
  text-transform: lowercase;
  font-weight: bold;
  opacity: 0.5;
}


/* Adding Animation */
.typing2::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: #4FC3F7;
  animation: cursorBlink 0.8s steps(3) infinite;
}


@keyframes cursorBlink {

  0%,
  75% {
      opacity: 1;
  }

  76%,
  100% {
      opacity: 0;
  }
}
.typing1{
  padding-bottom: 6.8%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(21, 14, 39);
}
.typing2 {
  position: relative;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #3333);
}

.typing2 h2{
  position: relative;
  color:rgb(227, 230, 105);
  letter-spacing: 5px;
  font-size: 3rem;
  overflow: hidden;
  margin-bottom: 0;
  animation: type 5s steps(31) infinite;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* animation-name: type;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}

@keyframes type {

  0%,
  30% {
      width: 0px;
  }

  30%,
  100% {
      width: 900.09px;
  }
}

@media(max-width: 360px){
  .typing2 h2{
      font-size: 0.8rem;
      animation: type 5s steps(11) infinite;
  } 
   @keyframes type {

      0%,
      100% {
          width: 0px;
      }

      30%,
      60% {
          width: 305px;
      }
  }
}

@media (min-width: 360px) and (max-width: 920px){
  .typing2 h2{
      font-size: 1.2rem;
      letter-spacing: 2px;
      animation: type 5s steps(11) infinite;
  } 
   @keyframes type {
      0%,
      100% {
          width: 0px;
      }

      30%,
      60% {
          width: 330px;
      }
  }
}
@media (min-width: 360px) and (max-width: 1115px){
  .about-text p{
    font-size: 0.8rem !important;
  }
}
@media (min-width: 360px) and (max-width: 840px){
  .about-text p{
    font-size: 0.7rem !important;
  }
}
/* @media screen and (width: 712px){
  .contact-main{
    margin-top: 19% !important;
  }
} */

.mainfac{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #032433;
  box-shadow: 0 0 60px black;
  padding-bottom: 3%;
}
.facilities2{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 10px;
  color: white;
}
.rows{
  width: 100%;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* background-color: blue; */
}
.rows1{
  display: flex;
  justify-content: right;
  /* align-items: center; */
  width: 50%;
  height: 100%;
}
.rows2{
  display: flex;
  justify-content:left;
  width: 50%;
  height: 100%;
}
.facilitiesicon{
  /* background-color: blanchedalmond; */
  margin: 8% 8%;
  text-align: center;
}
.facilitiesicon img{
  width: 50%;
}
.icontext{
  font-family:Arial, Helvetica, sans-serif;
  color: yellowgreen;
  font-weight: bold;
  margin-top: 8%;
  opacity: 0.9;
}


/* our services */
.ourservices{
  background: linear-gradient(rgba(17, 17, 17, 0.2), rgba(20, 20, 20, 0.2)), url(https://images.unsplash.com/photo-1497366754035-f200968a6e72?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3%;
  padding-bottom: 3%;
}
.innerserv{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  padding-bottom: 6%;
  /* background-color: black; */
  background: rgba(17, 17, 17, 0.8);
}
.servtext{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}
.servtext h1{
  font-family: 'Trebuchet MS';
  font-weight: bold;
  letter-spacing: 10px;
  font-weight: bold;
  color: yellowgreen;
  font-size: 50px;
  margin-top: 4%;
  margin-bottom: 3%;
}
.hostel-nd-mess{
  display: flex;
  justify-content: center;
}

.hostelmess{
  width: 25%;
  height: 400px;
  margin: 0 10%;
  background-color:rgb(192, 184, 184);
  border: solid 1px black;
  text-align: center;
}
.hs1:hover,.hs2:hover{
  box-shadow: 0 0 5px white;
}
.hs1 button,.hs2 button{
  cursor: pointer;
}
.hs1 button a,.hs2 button a{
  text-decoration: none;
  color: black;
}
.hs1 button:hover,.hs2 button:hover{
  box-shadow: 0 0 5px black;
}
.hostelmess img{
  width: 100%;
  height: 55%;
  border-bottom: solid 1px black;
}
.hostelmess h1{
  font-family: 'Trebuchet MS';
  font-weight: bold;
  color: #032433;
  letter-spacing: 5px;
}
.hostelmess p{
  font-family: 'Trebuchet MS';
  font-weight: bold;
  color: rgb(38, 82, 27);
  font-size: 20px;
  margin: 0 3%;
}
.hostelmess button{
  margin-top: 5%;
  width: 70%;
  font-family: 'Trebuchet MS';
  font-weight: bold;
  color: #032433;
  background-color: greenyellow;
  border-color: #042d41;
}


/* Feedback */
.feedback h1{
  margin-top: 5%;
  font-family: 'Trebuchet MS';
  font-weight: bold;
  color:#032433;
}
.feedback dl{
  margin-left: 10%;
}
.feedback dl dt{
  font-size: 30px;
  margin-top: 3%;
}
.feedback dl dd{
  margin-left: 2%;
  font-size: 20px;
}
.feedback dl dt img{
  margin-left: -3%;
  width: 4%;
  border-radius: 50%;
}
.feedback{
  padding-bottom: 5%;
}


/* Footer */
footer{
  background-color: rgb(34, 33, 33);
  text-align: center;
  line-height: 30px;
  padding-top: 3%;
  padding-bottom: 3%;
  /* margin-top: 10%; */
  /* color: white; */
}
footer a{
  color: rgb(199, 191, 191);
  text-decoration: none;
}
footer a:hover{
  color: red;
  text-decoration: none;
}
.footer-text{
  color: rgb(165, 173, 171);
  font-weight: bold;
}


/* Features Page */
.features{
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  background-color: #4FC3F7;
}
.feature-text{
  text-align: center; 
}
.feature-text h1{
  margin: 4% 5%;
  font-family: 'Trebuchet MS';
  font-weight: bold;
  color: #032433;
  letter-spacing: 4px;
  padding-top: 2%;
}
.features dl{
  margin-left: 5%;
}
.features dl dt{
  font-size: 20px;
  font-family: 'Trebuchet MS';
}
.features dl dd{
  margin-top: 1%;
  margin-left: 2%;
  font-size: 20px;
}


/* About-Us page*/
.aboutus{
  padding-top: 3%;
  padding-bottom: 4%;
  background-color: rgb(156, 193, 235);
}
.aboutus-inner{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  /* height: auto; */
  background-color: #cfd3d6;
  margin-top: 4%;
  margin-bottom: 7%;
  display: flex;
  box-shadow: 0 0 15px black;
}
.about-img{
  width: 30%;
  height: 90%;
  margin-left: 1%;
  margin-top: auto;
  margin-bottom: auto;
}
.about-img img{
  width: 100%;
  height: 100%;
  /* height: auto; */
  box-shadow: 0 0 10px black;
  border-radius: 10px;
}
.about-text{
  width: 60%;
  height: 90%;
  /* height: auto; */
  margin:auto;
  margin-left: 5%;
}
.about-text h1{
  font-family: 'Trebuchet MS';
  font-weight: bold;
  color: #042d41;
}
.about-text p{
  margin-left: 2%;
  margin-right: 3%;
  font-weight: bold;
  margin-top: 2%;
  /* margin: auto; */
  font-size: 17px;
}
.res-img1 img{
  width: 70% !important;
 }



/* Contact-us page */
.contact-main{
  /* background-color: #4FC3F7; */
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 11%; */
  margin-top: 9.1rem;
  margin-bottom: 8%;
  padding-bottom: 5%;
  background: rgba(10, 10, 10, 0.8);
  box-shadow: 0 0 5px white;
}
.contact-in{
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 3%;
}

.contact-h1{
  display: flex;
  justify-content: center;
}
.contact-h1 h1{
  margin-top: -1%;
  margin-bottom: 5%;
  font-family: 'Trebuchet MS';
  font-weight: bold;
  color: rgb(190, 205, 50);
  letter-spacing: 10px;
}
form label{
  color: white;
}


/* Hostel page */

.hostel-text{
  padding: 5% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 3.9%;
}
.hostel-text h1{
  font-family: 'Trebuchet MS';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 80px;
  letter-spacing: 15px;
  color: #042d41;
}
.rnchead{
  margin-top: 6%;
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(8, 8, 8, 0.8);
  border-bottom: solid 1px rgb(108, 106, 112);
}
.rnchead h1{
  color: yellow;
  opacity: 0.7;
}
.hostel-rnc{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8%;
  height: 530px;
  padding-top: 4%;
  padding-bottom: 4%;
  background: rgba(8, 8, 8, 0.8);
}
.hostel-detail{
  width: 20%;
  height: 90%;
  margin: 2% 3%;
  background-color: #d2d9db;
  border: solid 1px white;
  box-shadow: 0 0 15px rgb(3, 3, 3);
}
.hostel-detail img{
  width: 100%;
  height: 46%;
  border-bottom: solid 2px rgb(26, 131, 192);
}
.hostel-detail b{
  margin-left: 7%;
  padding-bottom: 2%;
}
.hostel-detail a button{
  margin-left: 14%;
  margin-top: 7%;
  width: 70%;
  align-content: center;
  border-color: #042d41;
  font-family: 'Trebuchet MS';
  font-weight: bold;
  letter-spacing: 2px;
  background-color: greenyellow;
}
.header-div{
  /* background-color: #032433; */
}
.search-bar{
  display: flex;
  justify-content: center;
}
.search-bar select{
  width: 350px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  background: #234e63;
  font-family: 'Trebuchet MS';
  font-weight: bold;
  color: rgb(240, 210, 79);
  letter-spacing: 3px;
  font-size: 20px;
  border: solid 1px white;
  box-shadow: 0 0 20px black;
}


/* Media Queries */
@media screen and (max-width: 673px){
  .hostel-nd-mess{
    display: block;
    justify-content: center;
  }
  .innerserv{
    padding-bottom: 1px;
    margin-top: 17%;
    margin-bottom: 15%;
  }
  .servtext{
    padding-bottom: 0%;
  }
  .hostelmess{
    width: 77%;
    height: 400px;
    margin-top: 18%;
    margin-bottom: 28%;
    margin-left: auto;
    margin-right: auto;
  }
  .servtext h1{
    margin-top: 9%;
    margin-bottom: -2%;
    font-size: 32px;
    letter-spacing: 3px;
  }
  .facilities2{
    letter-spacing: 1px;
    padding-top: 0px;
  }
  .rows{
    display: block;
    text-align: center;
  }
  .rows1,.rows2{
    width: 100%;
    justify-content: center;
  }
  .facilitiesicon img{
    width: 70%;
  }
  .even{
    margin-top: 13%;
  }
  .facilities2 h1{
    font-size: 2rem;
 }
 .feedback h1{
  font-size: 2rem;
  margin-top: 10%;
  margin-bottom: 10%;
 }
 .feedback dd{
  margin-right: 7%;
  margin-bottom: 10%;
 }
 .feedback dl dt img {
  margin-left: -9%;
  width: 10%;
 }

 /* Hostel page */
 .hostel-rnc{
  display: block;
  height: auto;
  margin-bottom: 20%;
 }
 .hostel-detail{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 18%;
 }
 .rnchead {
  margin-top: 13%;
 }
 .rnchead h1{
  font-size: 1.7rem;
 }
 .hostel-text {
  padding: 0% 0%;
 }
 .hostel-text h1{
  font-size: 55px;
  letter-spacing: 6px;
  margin-top: 23%;
 }
 .search-bar select {
  width: 270px;
 }

 /* About us page */
 .container-fluid b{
  margin-left: 10%;
 }
 .aboutus{
  padding-top: 15%;
  padding-bottom: 10%;
 }
 .aboutus-inner{
  display: block;
  height: auto;
  margin-bottom: 17%;
 }
 .about-img{
  width: 90%;
  margin: auto !important;
 }
 .about-img img{
  margin-top: 5%;
 }
 .about-text {
  width: 80%;
  height: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 5% !important;
  text-align: center;
  padding-bottom: 5%;
}
.about-text h1{
  font-size: 2rem;
  /* margin-top: 5% !important; */
}
.contact-main{
  width: 85%;
  margin-top: 34%;
  margin-bottom: 20%;
}
.contact-h1 h1{
  letter-spacing: 3px;
  margin-top: 0%;
  margin-bottom: 12%;
}
.btn.btn-primary{
  margin-left: 38% !important;
}
#inputAddress,#inputAddress2{
  width: 90%;
  margin-left: 4%;
}
#addlabel{
  margin-left: 4% !important;
}
.mainfac{
  margin-top: 15%;
  margin-bottom: 15%;
}
.sliderdiv {
  margin-top: 11.9%;
 }

 /* about page */
 .about-h1 h1{
  font-size: 52px !important;
  letter-spacing: 0px !important;
 }
 .responsive-h1{
  margin-top: -90%;
  margin-left: 30%;
  font-family:'Trebuchet MS'; 
  color: white; 
  opacity: 0.6; 
  /* letter-spacing: 2px !important; */
 }
 .responsive-h1 h5{
  margin-left: 40%;
  color: yellow;
 }
 .res-img2 img{
  width: 100% !important;
 }
 #carouselExampleSlidesOnly{
  margin-top: 3% !important;
 }
}
